<html>
    <head>
        <title>camx blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">camx blog</a></h1>
        </div>

        <div>
            <p>published: 25.10.2025, 3:39</p>
            <h2><a href="">My first post</a></h2>
            <p>El Clásico del domingo en el Estadio Santiago Bernabéu no será diferente. El Barcelona, actual campeón de LaLiga, llega a la capital española a dos puntos de su acérrimo rival en lo más alto de la tabla.</p>
        </div>

        <div>
            <p>published: 25.10.2025, 3:40</p>
            <h2><a href="">My second post</a></h2>
            <p> El nuevo álbum de Taylor Swift, lanzado el 3 de octubre de 2025, se titula The Life of a Showgirl. Este es su duodécimo álbum de estudio y representa un cambio hacia un sonido pop más alegre y brillante </p>
        </div>
    </body>
</html>